.secrets {
    background-image: url("../images/secrets_background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-family: var(--font-family-title);
        color: var(--color-dark-blue);

        font-size: 50px;
        text-align: center;
        line-height: 150%;
        font-weight: 700;
        padding-bottom: 50px;
        padding-top: 125px;

        @include tablet {
            font-size: 45px;
        }

        @include mobile {
            font-size: 40px;
        }
    }

    &__image {
        width: 100%;
        padding-inline: 16px;

        @include tablet {
            padding-inline: 8px;
        }
    }

    &__slider {
        padding-bottom: 930px;
    }

    &__numbers {
        background-color: #020C21;
        opacity: 0.9;
        width: 100%;
        padding-top: 200px;
        padding-bottom: 220px;

        @include tablet {
            padding-top: 100px;
            padding-bottom: 110px;
        }

        @include mobile {
            padding-top: 72px;
            padding-bottom: 70px;
        }
    }

    &__about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-title {
            font-family: var(--font-family-title);
            padding-bottom: 30px;
            font-size: 60px;
            line-height: 150%;
            font-weight: 700;
            text-align: center;

            @include tablet {
                font-size: 50px;
            }

            @include mobile {
                font-size: 40px;
            }
        }

        &-description {
            max-width: 485px;
            width: 100%;
            font-family: var(--font-family-title);
            padding-bottom: 40px;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            color: var(--color-light-gray);

            @include tablet {
                font-size: 16px;
            }
        }
    }

    &__counts {
        @include mobile {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 90px;

            @include tablet {
                column-gap: 30px;
            }

            @include mobile {
                flex-direction: column;
                justify-content: center;
                max-width: 485px;
                width: 100%;
                row-gap: 80px;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-title {
                font-family: var(--font-family-title);
                color: var(--color-red);
                font-weight: 700;
                font-size: 42px;
                padding-bottom: 10px;
                text-align: center;

                @include tablet {
                    font-size: 40px;
                }
            }

            &-description {
                font-size: 18px;
                line-height: 150%;
                text-align: center;
                color: var(--color-light-gray);

                @include tablet {
                    font-size: 16px;
                }
            }
        }
    }
}

.splide__arrows {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;


}

.splide__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    pointer-events: auto;
    background: none;
}

.splide__arrow svg {
    stroke-width: 3;
}

.splide__arrow--prev {
    left: -40px;

    @include desktop {
        left: -20px;
    }

    @include tablet {
        left: -25px;
    }

    @include tablet {
        left: -30px;
    }
}

.splide__arrow--next {
    right: -40px;

    @include desktop {
        right: -20px;
    }

    @include tablet {
        right: -25px;
    }

    @include tablet {
        right: -30px;
    }
}

.splide__pagination {
    bottom: -50px;
    gap: 10px;
}

.splide__pagination__page {
    width: 19px;
    height: 19px;
    background: #85A3B2;

    @include tablet {
        width: 14px;
        height: 14px;
    }
}

.splide__pagination__page.is-active {
    background: var(--color-red);
}