:root {
    --color-white: #FFFFFF;
    --color-red: #DD2242;
    --color-dark-red: #9f0a23;
    --color-black: #000000;
    --color-dark-blue: #010A20;
    --color-gray: #939393;
    --color-gray-alt: #6F7787; 
    --color-light-gray: #E0E0E0;

    
    --border-radius: 211px;
    --border-radius-small: 10px;

    --font-family-title: 'Dm sans', sans-serif;
    --font-family-base: 'Roboto', sans-serif;

    --container-width-header: 1920px;
    --container-width: 1300px;
    --container-padding-x: 30px;
    --section-padding-y: 115px;

    --button-height: 80px;
    --button-height-small: 60px;

    --transition-duration: 0.2s;
}
